body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}

h1 { float: left; font-size: 200%; font-weight: 200; margin: 0 30px 15px 30px; }

h2 { position: absolute; top: 0; left: 0; opacity: 1; background-color: white; border: 1px solid '#666';
padding: 4px; font-size: 100%; font-weight: 200; z-index: 99999; }

h2 .value { font-weight: 100; }

p { margin: 0 0 10px; }

form, form > * { margin: 0; }

.dk_label { padding-right: 10px; }

.dk_options_inner {
    max-height: 264px;
}

.dk_options {
    width: auto;
}

#dk_container_field {
    width: 302px;
}

#status { font-size: 80%; color: #999; }

#header div { float: left; margin-right: 10px; } 

#map-container { display: block; position: absolute; top: 0px; right: 0px; width: 100%; height: 100%;
z-index: -1; }

#map { display: block; position: absolute; width: 100%; height: 100%; margin: 0; }

path.spacial { opacity: 1; stroke: #666; stroke-width: .5; }

path.spacial:hover { stroke: #000; }

form { font-size: 120%; }

select { font-size: inherit; }

.axis text { font: 10px sans-serif; }

.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }

.x.axis path { display: none; }

.checkboxes { font-size: 80%; }

.inputs { padding-left: 20px; padding-top: 10px; }

#container { position: absolute; width: 55%; left: 0px; bottom: 0px; }

#bar-container { height: 400px; text-align: left; position: relative; padding-bottom: 20px; }

#bar-container label { padding: 20px; }

#bar { display: block; position: absolute; width: 100%; height: 100%; margin: 0; }

#header { float: left; width: 100%; text-align: left; padding: 10px; z-index: 1; }

.share .toggle {
    float: left;
    margin: 2px;
}
.share {
    float: left;
    height: 34px;
    padding: 4px;
    
    text-align: center;
   
}

.share.first {
    clear: both;
    width: 400px;
}

.subauthor {
    float: left;
    margin-right: 8px;
}

#author { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; position: absolute; bottom: 10px;
right: 10px; width: 320px; }

a { color: #D8D136; }

a:hover { color: #FAF23F; }

#forkme { position: fixed; /* options: fixed, absolute */ top: 0; right: 0; z-index: 9999; width: 140px;
height: 140px; text-indent: -9999px; background-image: url("../images/forkme.png"); }

@media (-webkit-min-device-pixel-ratio: 2) { #forkme { background-image: url("../images/forkme@2x.png")
!important; -webkit-background-size: 140px 140px; } }
