  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
  }

  h1 {
    float: left;
    font-size: 200%;
    margin: 0 0 15px 0;
  }

  h2 {
    float: left;
    font-size: 160%;
    margin: 0 0 10px 0;
  }

  p {
    margin: 0 0 10px;
  }

  form, form > * {
    margin: 0;
  }
  
  form {
    float:left;
    clear:both;
  }

  #status {
    color: #999;
  }

  #map-container {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #map {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  path.region {
    opacity: 1;
    stroke: #666;
    stroke-width: .5;
  }

  path.region:hover {
    stroke: #000;
  }

  form {
    font-size: 120%;
  }

  select {
    font-size: inherit;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
    fill-opacity: .9;
  }

  .x.axis path {
    display: none;
  }

  #container {
    position: absolute;
    width: 55%;
    left: 0px;
    bottom: 0px;
  }

  #bar-container {
    height: 300px;
    text-align: center;
    position: relative;
    margin: 20px 0;
  }

  #bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #header {
    display: relative;
    text-align: left;
    padding: 10px;
    z-index: 1;
  }

  #author {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  a {
    color: #FFA468;
  }
  
  a:hover {
    color: #F85910;  
  }
  
  #forkme {
    position: fixed; /* options: fixed, absolute */
    top: 0;
    right: 0;
    z-index: 9999;
    width: 140px;
    height: 140px;
    text-indent: -9999px;
    background-image: url("../img/forkme.png");
  }

  @media (-webkit-min-device-pixel-ratio: 2) {
    #forkme {
        background-image: url("../img/forkme@2x.png") !important;
        -webkit-background-size: 140px 140px;
    }
  }
